body{
  background-color: rgb(255, 253, 244);
}

@media screen and (max-width: 800px) {
  nav ul{
    margin-top: 10px;
    display: none;
  }
  .menu{
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .menu{
    display: none;
  }
}

/* NAVIGATION SECTION */
.menu{
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 40px;
}

nav{
  background-color: rgb(255, 253, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: rgb(249, 87, 56);
  margin: 10px;
  padding-left: 40px;
  height: fit-content;
}

nav ul{
  margin: 10px;
  padding: 0;
  padding-right: 40px;
  height: fit-content;
}

nav ul li{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 5px;
}

.links{
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 500;
}

.links:hover{
  color: rgb(249, 87, 56);
}

.down{
  height: 11px;
}

.header{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN SECTION */
.intro{
  color: black;
}

.intro span{
  color: rgb(249, 87, 56);
}

.introduce{
  width: 50%;
}

.home{
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.home div{
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}


/* HOBBIES SECTION */
.hobbies{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.icon{
  margin-left: 5px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
}

.icon:hover{
  stroke: rgb(249, 87, 56);
}

.row{
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
}

.allitems{
  margin: 10px;
  height: fit-content;
  width: 290px;
}

.interests{
  background-color: whitesmoke;
  border-radius: 10px;
}

.item{
  display: flex;
  align-items: center;
  padding: 16px 8px;
}

.item h6{
  font-size: medium;
  font-weight: 500;
  margin: 0;
}


/* WORK EXPERTISE SECTION */
.skills{
  text-align: center;
  align-items: center;
}

.show{
  display: flex;
  align-items: center;
}

.left{
  width: 25%;
  margin: auto;
}

.left div{
  display: flex;
  justify-content: center;
}

.right{
  width: 75%;
  margin: auto;
}

.type{
  width: fit-content;
  text-align: center;
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}

.type li{
  float: right;
  background-color: none;
  border: solid rgb(218, 216, 216) 1px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 15px;
  width: 120px;
  font-size: medium;
}

.contains{
  width: 60%;
}

.contains .program{
  padding: 10px;
}

.contains .program h6{
  text-align: left;
  margin: 5px 0;
  font-size: 16px;
}

.android{
  display: none;
}

.lang{
  display: none;
}

.web{
  display: flex;
  justify-content: center;
}

.progressbar{
  padding: 0px;
  height: 10px;
  background-color: rgb(218, 216, 216);
  border-radius: 5px
}

.progress{
  height: 10px;
  background-color: rgb(249, 87, 56);
  border-radius: 5px;
  width: 50%;
}


/* CONTACT ME SECTION */
.contactme{
  text-align: center;
}

.contacts{
  display: flex;
  justify-content: center;
}

.contacts div{
  margin: 30px;
}

.contacts div .icons{
  height: 30px;
  width: 30px;
}

.form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form .col{
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 50%;
  justify-content: center;
  /* padding: 0 12px; */
}

.form .col .info{
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin-left: 50px;
}

.message{
  display: flex;
  justify-content: center;
  width: 100%;
}

.message div{
  margin-right: 40px;
  width: 100%;
}

.input{
  font-family: Roboto, sans-serif;
  padding: 6px 12px;
  margin: 10px;
  outline: none;
  width: 90%;
  border: solid rgb(218, 216, 216) 1px;
  border-radius: 7px;
  outline: none;
  font-size: 14px;
  line-height: 2;
}

textarea{
  resize: vertical;
  height: 150px;
}

.send{
  display: inline-block;
  background-color: rgb(249, 87, 56);
  color: white;
  border: solid rgb(249, 87, 56) 1px;
  border-radius: 7px;
  outline: none;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  cursor: pointer;
  line-height: 1.5;
}

.submit{
  display: flex;
  justify-content: center;
  width: 100%;
}

.contacts a{
  text-decoration: none;
  color: rgb(249, 87, 56);
}


/* FOOTER SECTION */
.footer{
  background-color: rgb(249, 87, 56);
  color: white;
}